*.so
*.o
*.os
*.swp
*.log
cbf_reader_test
pniutilstest
showPNITypes
tif_reader_test
utbmark
*.dblite
.sconf_temp
/libpniutils0-dev_0.0.1_amd64.deb
/libpniutils_0.0.1_amd64.changes
/libpniutils0-doc_0.0.1_amd64.deb
/libpniutils0_0.0.1_amd64.deb
/libpniutils0-dev_0.1.0_amd64.deb
/libpniutils0_0.1.0_amd64.deb
/libpniutils0-doc_0.1.0_amd64.deb
/libpniutils_0.1.0_amd64.changes
