*.so
*.o
*.os
*.swp
*.log
*.mod
*.*~
cbf_reader_test
pniutilstest
showPNITypes
tif_reader_test
utbmark
*.dblite
.sconf_temp
/*.deb
/*.changes
./Makefile
*.tif
build
install
.cccc
.project
.cproject
.settings/
/project.cson
/Debug/
