/compat
/libpniutils0.dirs
/libpniutils0-dev.install
/libpniutils0-doc.install
/libpniutils0-doc.dirs
/libpniutils0.install
/control
/libpniutils0-dev.dirs
/rules
/libpniutils0-doc
/libpniutils0
/libpniutils0-dev
/tmp
/libpniutils0.postinst.debhelper
/libpniutils0.substvars
/libpniutils0.postrm.debhelper
/libpniutils0-doc.substvars
/files
/changelog
/*.substvars
/*.debhelper
/*.dirs
/*.install
/changelog.in

